    *{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    :root{
        --cor-principal: #FECB04;
    }
    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column
    }
    header{
        animation: bordaColor 3s ease-in-out infinite alternate;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #fff;
       
    }
    .chamaWha{
        padding: 10px 0;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FECB04;
        gap: 5px;
    }
    .chamaWha a{
        color: #FECB04
    }
    .chamaWha a:hover{
        transform: scale(1.1);
    }
    nav{
        margin-top:0 ;
        padding-top: 0;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        
    }
    .logo{
        width: min(50%, 120px);
        border-radius: 0;


    }
    .listalink{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

    }
    .listalink li{
        letter-spacing: 1px;
    }
    .listalink a{
        font-size: 0.9em;
        font-weight: normal;
    }
    a{
        text-decoration: none;
        display: block;
        color: black;
        transition: 0.5s;
    }
    .listalink a:hover{
        transform: scale(1.2);
    }
    h1{
        padding: 20px 0;
        text-align: center;
    }
    main{
        flex: 1;
    }
    #produtos{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(150px , 1fr) );
        justify-items: center;
        gap: 20px;
    }
    #produtos div{
        transition: 0.3s;
    }
    #produtos img{
        width: 100%;
        max-width: 200px;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
    }
    #historia img{
        width: 100%;
        max-width: 200px;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
    }
    #produtos p{
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
    }
    #produtos div:hover{
        transform: scale(1.1);
        color:#FECB04;
    }

    #produtos div:hover img{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
    footer{
        width: 91vw ;
        color: #FECB04;
        padding: 50px;
        background-color: black;
        box-shadow: 0 10px 10px #FECB04;
        background-image: linear-gradient(to bottom , black 80%, #FECB04)
        

    }
    footer h3{
        padding: 10px;
        text-align: center;
    }
    footer p{
        text-align: center;
        line-height: 1.5em;
    }

    .esquerda{
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 4%;
        max-width: 90%;
    }
    .direita{
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
        align-items: center;
        text-align: right;
        padding: 4%;
        max-width: 90%;
    }
    .IconeFixo{
        position: fixed;
        right: 2%;
        bottom: 3%;
        max-width: 15%;
        max-height: 15%;
        background-color: #b3b3b3;
        object-fit: cover;
        border-radius: 70%;
    }
    .topo{ 
        color: #ffffff;
        text-shadow: 1px 1px 5px rgb(0, 0, 0);
        display: grid;
        grid-template-rows: 1fr 7fr;
        padding: 5%;
        align-items: center;
        background-image: url("img/Acordo.png");
        background-size: cover;
    }


    @keyframes bordaColor{
    0% {
        border-bottom: 2px solid black;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    }
    50%{
        border-bottom: 2px solid #ffdd55;
        box-shadow: 0 3px 14px rgba(254, 203, 4, 0.4);
    }
    100%{
        border-bottom: 2px solid var(--cor-principal);
        box-shadow: 0 3px 18px rgba(254, 203, 4, 0.6);
    }
}